{% extends "parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Welcome to OOADSE YouTube (OYT)</h1><br>
<br>

<div class="row">

  <div class="col">
    <h2>Recent Videos</h2>
    {% for video in most_recent_videos %}
    <br>
    <div class="card text-center" style="width: 40rem;">
      <h5 class="card-header">{{ video.title }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ video.description }}</h5>
        <p class="card-text">Uploaded by {{ video.user }}</p>
        <a href="/video/{{ video.id }}" class="btn btn-primary">Watch Video</a>
      </div>
      <div class="card-footer text-muted">
        Uploaded on {{ video.datetime }}
      </div>
    </div>
    <br>

    {% endfor %}
  </div>

  <div class="col">
    <h2>Liked Videos</h2>
    {% for video in most_liked_videos %}
    <br>
    <div class="card text-center" style="width: 40rem;">
      <h5 class="card-header">{{ video.title }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ video.description }}</h5>
        <p class="card-text">Uploaded by {{ video.user }}</p>
        <a href="/video/{{ video.id }}" class="btn btn-primary">Watch Video</a>
      </div>
      <div class="card-footer text-muted">
        Uploaded on {{ video.datetime }}
      </div>
    </div>
    <br>

    {% endfor %}
  </div>
</div>

{% endblock %}