{% extends "parent.html" %}

{% block title %}
Video - 
{% endblock %}


{% block body %}

{% if user.is_authenticated %}
{% if user.id == video.user_id %}
<a href="/edit_video/{{ video.id }}">Edit video</a>
{% endif %}
<a href="/add_to_playlist/{{ video.id }}">Add to Playlist</a>
{% endif %}


<h2>{{ video.title }}</h2>
<video class="video-js" id="my-video" width="1080" height="720" controls data-setup="{}">
    <source src="{{ video.path }}" type="video/{{ video_type }}">
  Your browser does not support the video tag.
  </video>
<p>{{ video.description }}</p>
<br><br>
<h3>Comments</h3>

{% if form %}
<form action="/comment" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type='hidden' name='video' value='{{ video.id }}'>
    <br>
    <button type="submit" class="btn btn-primary">Post Comment!</button>
</form>
{% endif %}

{% for comment in comments %}
<p>
{{ comment.user }} posted on: {{ comment.datetime }} <br>
{{ comment.text }}
</p>
{% endfor %}

{% endblock %}